html, body{
    height: 100%;
}

*{
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.popcorn-brand {
  font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
}
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
}
